{% extends "base/base.html" %}

{% block contenido %}
  
  

   <section>
      <center>
        <p>
          <h3>
            Por cada pregunta respondida se le sumara su respectivo punto y al final del juego se les dara un resultado final con su respectivo puntaje, eso dependera si ha respondido bien a todas las preguntas que esten en el cuestionario en curso.
          </h3>
        </p>
      </center>

      <center>
        <p>
          <h2>
            ¿Como es la modalidad del juego?
          </h2>
        </p>
      </center>
        <div>
        <center>
          <p>
            <h2>
              - La modalidad del juego es de multiple choice, donde se le presentara una pregunta con dichas opciones de las cuales una o mas de una seria la respuesta correcta.
            </h2>
          </p>
        </center>
      </div>
    </section>
  
{% endblock contenido %}